* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.main_sectiom {
    display: flex;
    justify-content: space-between;
    margin: 75px 0;
}

.topsection {
    display: flex;
    justify-content: space-between;
}

.questionIndex {
    background: #86bc25;
    padding: 10px 15px;
    border-radius: 0 0 15px 15px;
    padding: 10px 5px;
    margin: 0 5px;
    color: #ffffff;
    text-align: center;
}
.indexVal{
   margin-top: 15px; 
}
.question .question_1 {
    background: #d8e4c3;
    padding: 18px 15px;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
}
.question .question_info{
    padding: 5px 15px;
    color: #1983b6;
    font-style: italic;
    font-size: 12px;
}
.question_info .next{
    font-weight: 600;
}
.select_anwerCard {
    background: #d8e4c3;
    padding: 15px;
    width: 200px;
    height: 215px;
}


.select_anwerCard .anwserImg {
    max-width: 100%;
    max-height: 100%;
}

.get_checkBx {
    text-align: center;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn {
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: 1s ease-in;
}
.submitBtn:hover{

    background-color: #1983b6;
    color: #ffffff;
}
